#main-header {
  border-bottom: 1px solid #353535;
  position: fixed;
  top: 1px;
  left: 0px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: black;
  z-index: 10;
  height: 4rem;
}
#main-header > section {
  display: flex;
  align-items: center;
  gap: 1rem;
}
#main-logo {
  background-color: transparent;
}
#main-logo a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
#main-logo img {
  height: 2rem;
  width: 2rem;
}
#main-logo h4 {
  color: transparent;
  text-align: start;
  font-size: 1.25rem;
  background: linear-gradient(to right, mediumaquamarine, rgb(255, 255, 255));
  background-clip: text;
  -webkit-background-clip: text;
}

section.resume {
  padding: 0.25rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  color: white;
  background-color: rgba(41, 41, 41, 0.9);
  padding-left: 1rem;
  border: 1px solid #353535;
}
section.resume span {
  margin-right: 0.25rem;
  font-size: 0.9rem;
  color: rgb(201, 201, 201);
}
section.resume button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 0.9rem;
  background-color: #474747;
  color: white;
  height: 1.5rem;
  width: 1.5rem;
  margin-left: 0.25rem;
  &:hover {
    background-color: rgb(95, 95, 95);
  }
}

.nav-list {
  display: flex;
  gap: 1.2rem;
}

.nav-item {
  display: inline-block;
  position: relative;
  font-size: 0.95rem;
  cursor: pointer;
  color: var(--secondary-text);
  font-weight: 400;
  transition: 0.2s ease-in-out;
}

.nav-item:hover {
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .nav-list {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: black;
    z-index: 10;
    padding: 1rem;
    justify-content: space-between;
    overflow-x: auto;
  }
  #main-logo h4{
    display: none;
  }
}
