#main-footer {
  display: none;
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 10;
  width: 100%;
  color: white;
  background-color: black;
}
#main-footer ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 8px;
  gap: 8px;
}
#main-footer ul li {
  flex: 1;
  background: black;
}
#main-footer ul li a {
  display: flex;
  flex-direction: column;
  color: var(--secondary-text);
  font-size: 10px;
  align-items: center;
  justify-content: center;
}
#main-footer ul li a i {
  font-size: 26px;
}

@media screen and (max-width: 746px) {
  #main-footer {
    display: flex;
  }
}
