#app {
  display: flex;
  flex-direction: column;
}
#content {
  position: absolute;
  left: 0;
  right: 0;
  top: 61px;
  height: fit-content;
  scroll-behavior: smooth;
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
}
#content > main {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 1.5rem;
}
#content::-webkit-scrollbar {
  display: none;
}
.main-saperator {
  height: 1px;
  background: linear-gradient(
    to right,
    rgba(128, 128, 128, 0),
    rgba(255, 255, 255, 0.473),
    rgba(128, 128, 128, 0)
  );
  border: none;
  margin: 4rem 0rem;
}

#scroll-progress-track {
  height: 1px;
  background-color: rgb(56, 56, 56);
  position: fixed;
  top: 0px;
  display: flex;
  z-index: 5;
  width: 100vw;
}
#scroll-progress {
  display: inline-block;
  position: absolute;
  border: none;
  height: 1px;
  background: linear-gradient(to right, #00ac5e, rgb(183, 255, 221));
  z-index: 2;
}
@media screen and (max-width: 746px) {
  #content {
    padding-bottom: calc(62px + 1rem);
  }
}
