main{
  display: flex;
  flex-direction: column;
  height: 100%; 
}
#content{
  position: absolute;
  left: 0;
  right: 0;
  top: calc(4rem + 1px);
  scroll-behavior: smooth;
}
#content > main{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 1.5rem;
  padding-bottom: 4rem;
}
#content::-webkit-scrollbar{
  display: none;
}
.main-saperator{
  height: 1px;
  background:linear-gradient(to right,rgba(128, 128, 128, 0),rgba(255, 255, 255, 0.473),rgba(128, 128, 128, 0));
  border: none;
  margin: 4rem 0rem;
}

#scroll-progress-track{
  height: 1px;
  background-color: rgb(56, 56, 56);
  position: fixed;
  top: 0px;
  display: flex;
  z-index: 5;
  width: 100vw;
}
#scroll-progress{
  display: inline-block;
  position: absolute;
  border: none;
  height: 1px;
  background:linear-gradient(to right,#00ac5e,rgb(183, 255, 221));
  z-index: 2;

}
