* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
}
:root {
  --theme-color: #3ecf8e;
  --card-bg-color: rgb(26, 26, 26);
  --card-border-color: rgba(128, 128, 128, 0.349);
  --secondary-text: #a1a4a5;
  --primary-text: whitesmoke;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter_28pt-Regular.ttf");;
  font-weight: 400;
  font-style: normal;
}

body {
  min-height: 100vh;
  background-color: black;
  font-style: normal;
  font-family: "Inter", sans-serif;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
body::-webkit-scrollbar {
  display: none;
}

#root {
  height: 100%;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

@media screen and (max-width: 540px) {
  html {
    font-size: 13px;
  }
}
